<!-- HEADER -->
<div class="container-fluid m-0 p-0 restOfSite">
  <div class="row m-0 p-0">
    <div class="col m-0 lightHeader">
      <h1>{{member.firstName}} {{member.lastName}}</h1>
    </div>
  </div>
</div>

<div class = "container restOfSite">
	<div class = "row">
		<div class = "col-sm pointContainer">
			<h2>POINTS</h2>
			<h1 class = "points mx-auto">{{member.points}}</h1>
		</div>
		<div class = "col-sm pointContainer">
			<h2>PERCENTILE</h2>
			<h1 class = "percentile mx-auto">{{percentile()}}</h1>
		</div>
	</div>
</div>

<!-- <div class = "container-fluid p-0 m-0 restOfSite">
	<div class = "row p-0 m-0">
		<div class = "col p-0 m-0 pointContainer">
      <h2 style = "margin-bottom: 20px;">ENTER EVENT CODE TO RECIEVE POINTS</h2>
      <form class = "signInForm" (ngSubmit) = "findEvent()">
        <div class = "form-group row justify-content-center m-0 p-0">
          <div class=" col-8 m-0 p-0">
            <input class = "form-control" type = "text" [(ngModel)] = "eventCodeRequest" name = "eventCodeRequest" placeholder="Event Code">
          </div>
        </div>
        <div class="form-group row m-0 p-0">
          <div class="col m-0" style = "text-align:center; padding-top:5vh;">
            <button type="submit" class="memberButton m-0">SUBMIT</button>
          </div>
        </div>
        <div class="form-group row p-0" style = "margin-top:3vh; height: 40px; margin-bottom: 3vh;">
          <div id = "successMessage" class = "col">
            Your request for points has been sent!
          </div>
        </div>
        <div class="form-group row p-0" style = "margin-top:3vh; height: 40px; margin-bottom: 3vh;">
          <div id = "errorMessage" class = "col">
            {{errorMessage}}
          </div>
        </div>
      </form>
    </div>
  </div>
</div> -->

<div class = "container restOfSite">
  <div class = "row">
    <div class = "col pointContainer">
      <h2 style = "margin-bottom: 20px;">MEMBER INFORMATION</h2>
      <div class = "table-responsive">
        <table class="table table-borderless" style = "text-align: left;">
          <tbody>
            <tr>
              <th scope="row">First Name:</th>
              <td>{{member.firstName}}</td>
            </tr>
            <tr>
              <th scope="row">Last Name:</th>
              <td>{{member.lastName}}</td>
            </tr>
            <tr>
              <th scope="row">Email:</th>
              <td>{{member.username}}</td>
            </tr>
            <tr *ngIf = "_authenticationService.user.role === 'Admin'">
              <th scope="row">Role:</th>
              <td>{{member.role}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- <div class = "container restOfSite">
  <div class = "row">
    <div class = "col pointContainer">
      <h2 style = "margin-bottom: 20px;">ATTENDED EVENTS</h2>
      <h4 style = "margin-bottom: 20px; padding-top: 20px;" *ngIf = "eventsAttendedEmpty()">No events have been atteneded</h4>
      <div class = "table-responsive" *ngIf = "!(eventsAttendedEmpty())">
  			<table class="table table-striped">
  			  <thead>
						<tr>
  			      <th scope="col">Event</th>
  			      <th scope="col">Points</th>
							<th scope="col">Date</th>
  			    </tr>
					</thead>
					<tbody>
  			    <tr *ngFor = "let event of member.attendedEvents | orderByDate: 'eventDate'">
  						<td>{{event.eventName}}</td>
  			      <td>{{event.eventValue}}</td>
							<td>{{event.eventDate | date: 'medium'}}</td>
  			    </tr>
          </tbody>
				</table>
      </div>
    </div>
  </div>
</div> -->
