/*-----header----*/

.headerStyle {
  background-color: rgba(10, 44, 133, 0.7);
}

.headerLogo{
  max-width:20vw;
  height: auto;
}

/*----------------------Buttons-----------------------------*/
.medDropdown{
  background-color: rgba(10, 44, 133, 0.0);
  border-color: rgba(10, 44, 133, 0.9);
  border-style: inset;
  border-width: medium;
}
.medButton {
  background-color: rgba(71, 72, 75, 0);
  color: white;
  border:none;
}

.medButton:hover {
  background-color: #f2b111;
  color: #47484b;
}

.medButton:focus {
  background-color: #f2b111;
  color: #47484b;
}

.medButton.homeButton {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

.medButton.lastButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

.medButton.navButton {
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.icon-bar {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

/* Home Page */

.slide-image1 {
  background: url('./images/stock1-min.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0px,center;
  background-size:
  width: 100vw;
  height: 80vh;
  margin:0;
  padding: 0;
  border-width: 0;
}

.slide-image2 {
  background: url('./images/stock2-min.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0px,center;
  background-size:
  width: 100vw;
  height: 80vh;
  margin:0;
  padding: 0;
  border-width: 0;
}

.slide-image3 {
  background: url('./images/stock3-min.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0px,center;
  background-size:
  width: 100vw;
  height: 80vh;
  margin:0;
  padding: 0;
  border-width: 0;
}

.carousel-custom{
  padding: 0;
  margin:0;
  width: 100vw;
  overflow-x: hidden;
}
.grayFilter{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 80vh;
}
.ourgoal-custom{
  background-color: rgb(246, 246, 246);
}
