<div class="container-fluid pageImage">
	<div class="row">
		<div class="col-md-12 p-0">
			<div class="grayFilterSmall">
				<h1 class="text-center pageImageText">
      		Events
        </h1>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid div-color">
	<div class="row list-group pb-3">
		<div *ngFor="let event of events">
			<a class=" col-12 list-group-item memberButton" [routerLink]="['/events', event._id]">
				<div class="row py-3">
					<h4 class=" capitalize text-center col-8">{{event.eventName}}</h4>
					<p class="col-4 text-center">{{event.description}}</p>
				</div>
			</a>
		</div>
	</div>
	<div *ngIf="events && events.length === 0">
		No events yet, why don't you <a [routerLink]="['/events/create']">create one</a>?
	</div>
</div>
