<!-- HEADER -->
<div class="container-fluid m-0 p-0 restOfSite">
  <div class="row m-0 p-0">
    <div class="col m-0 lightHeader">
      <h1>SIGN UP</h1>
    </div>
  </div>
</div>
<div class = "container restOfSite">
  <div class = "row p-0 m-0">
    <div class = "col p-0 m-0">
      <form (ngSubmit)="signup()">
        <div class="form-group row justify-content-center m-0 p-0">
          <label class="col-form-label col-sm-2">First Name:</label>
          <div class=" col-sm-8">
            <input class = "form-control" type="text" [(ngModel)]="user.firstName" name="firstName" placeholder="First Name">
          </div>
        </div>
        <div class="form-group justify-content-center row m-0 p-0">
          <label class="col-form-label col-sm-2">Last Name:</label>
          <div class=" col-sm-8">
            <input class = "form-control" type="text" [(ngModel)]="user.lastName" name="lastName" placeholder="Last Name">
          </div>
        </div>
        <div class="form-group justify-content-center row m-0 p-0">
          <label class="col-form-label col-sm-2">Email:</label>
          <div class=" col-sm-8">
            <input class = "form-control" type="text" [(ngModel)]="user.username" name="username" placeholder="Email">
          </div>
        </div>
        <div class="form-group justify-content-center row m-0 p-0">
          <label class="col-form-label col-sm-2">Password:</label>
          <div class="col-sm-6" *ngIf="!(this.showPassword)">
            <input class = "form-control" type="password" [(ngModel)]="user.password" name="password" placeholder="Password">
          </div>
          <div class = "col-sm-2 hoverPop" style = "text-align:center; padding-left: 0; margin-top: 12px;" *ngIf="!(showPassword)">
            <a style = "color:rgb(28,28,28);" (click)="showPassword = true">SHOW</a>
          </div>
          <div class="col-sm-6" *ngIf="(this.showPassword)">
            <input  class = "form-control"type="text" [(ngModel)]="user.password" name="password" placeholder="Password">
          </div>
          <div class = "col-sm-2 hoverPop" style = "text-align:center; padding-left: 0; margin-top: 12px;" *ngIf="(showPassword)">
          <a style = "color:rgb(28,28,28);" (click)="showPassword = false">HIDE</a>
          </div>
        </div>
        <div class="form-group row m-0 p-0">
          <div class="col m-0" style = "text-align:center; padding-top:5vh;">
            <button type="submit" class="memberButton m-0">SIGN UP</button>
          </div>
        </div>
        <div class="form-group row p-0" style = "margin-top:3vh; height: 40px; margin-bottom: 3vh;">
          <div id = "successMessage" class = "col">
            Sign Up Successful!
          </div>
        </div>
        <div class="form-group row p-0" style = "margin-top:3vh; height: 40px; margin-bottom: 3vh;">
          <div id = "errorMessage" class = "col">
            {{errorMessage}}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- CONTACT INFORMATION -->
<div class="container-fluid m-0 p-0 restOfSite">
  <div class="row m-0 p-0">
    <div class="col m-0 p-0 medFoot">
      <div class= "blueFilter row p-0 m-0">
        <div class= "col p-0 m-0">
          <div class = "darkHeader">
            <h1>CONTACT US</h1>
          </div>
          <div class = "row p-0 m-0">
            <div class= "darkP col-sm-6 order-sm-5" style = "text-align: center;">
              <p>Questions or concerns? Feel free to email us:</p>
              <p>
                <b>medlifeufl@gmail.com</b>
              </p>
            </div>
            <div class = "col-sm-3 order-sm-1">
              <div style = "height:70px; width:70px; position: relative; bottom:0; padding-bottom: 25vh; left: 50%; transform: translateX(-50%);">
                <a href = "https://www.instagram.com/medlifeuf/" target="_blank"><i class="fab fa-instagram hoverPop" style = "font-size:500%; color:rgb(233,233,233);"></i></a>
              </div>
            </div>
            <div class= "col-sm-3 order-sm-12">
              <div style = "height:70px; width:70px; position: relative; bottom:0; padding-bottom: 25vh; left: 50%; transform: translateX(-50%);">
                <a href = "https://www.facebook.com/ufmedlife/" target="_blank"><i class="fab fa-facebook hoverPop" style = "font-size:500%; color:rgb(233,233,233);"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
