<form (ngSubmit)="signup()">
  <div>
    <label>First Name:</label>
    <input type="text" [(ngModel)]="user.firstName" name="firstName">
  </div>
  <div>
    <label>Last Name:</label>
    <input type="text" [(ngModel)]="user.lastName" name="lastName">
  </div>
  <div>
    <label>Email:</label>
    <input type="text" [(ngModel)]="user.email" name="email">
  </div>
  <div>
    <label>Username:</label>
    <input type="text" [(ngModel)]="user.username" name="username">
  </div>
  <div>
    <label>Password:</label>
    <div *ngIf="!(this.showPassword)">
      <input type="password" [(ngModel)]="user.password" name="password">
      <button (click)="this.showPassword = true">Show</button>
    </div>
    <div *ngIf="(this.showPassword)">
      <input type="text" [(ngModel)]="user.password" name="password">
      <button (click)="this.showPassword = false">Hide</button>
    </div>
  </div>
  <div>
    <label>Member role:</label>
    <select class="form-control" id="role" required [(ngModel)]="user.role" name = "role">
      <option *ngFor = "let role of roles" [value] = "role">{{role}}
      </option>
    </select>
  </div>
  <div>
    <input type="submit" value="Sign Up">
  </div>
  <span>{{errorMessage}}</span>
</form>
