<div class="container">
  <div class="row justify-content-center">
    <div class="col text-center medPointMenu">
      <h4 class="py-3">Add Egg to Member to assign point</h4>
      <form (ngSubmit)="addPoint()" novalidate>
        <div class="form-group justify-content-center row">
          <label class=" col-form-label col-4">Eggs:</label>
          <div class="col-8">
            <select class="form-control" id="ev.eggName" required [(ngModel)]="member.tempEgg" name="ev.eggName">
            <option *ngFor = "let ev of eggs" [value] = "ev.eggName">{{ev.eggName}}
            </option>
          </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-4 mx-auto">
            <button type="submit" class="portalButton btn">Add egg</button>
          </div>
        </div>
        <div class="form-group row">
          <span>{{errorMessage}}</span>
        </div>
      </form>
      <form (ngSubmit)="removePoint()" novalidate>
        <h4 class="justify-content-center capitalize py-3">Eggs Attended by {{member.firstName}} {{member.lastName}}</h4>
        <div *ngIf="!allowEdit && member.points !== 0" class="row justify-content-center">
          <div class="col-sm-4" *ngFor="let egg of member.attendedEggs">
            <p *ngIf="selected(egg)" style = "width: 100%; height:100%;" class="text-center selportalButton">{{egg}}</p>
            <p *ngIf="!selected(egg)" style = "width: 100%; height:100%;" class="text-center">{{egg}}</p>
          </div>
        </div>
        <div *ngIf="allowEdit && member.points !== 0" class="row justify-content-center">
          <div class="col-sm-4" *ngFor="let egg of member.attendedEggs">
            <button *ngIf="selected(egg)" class="justify-content-center selportalButton" style = "width: 100%; height: 100%;">
              <p class = "text-center">{{egg}}</p>
            </button>
            <button *ngIf="!selected(egg)" style = "width: 100%; height:100%;" class="justify-content-center portalButton" (click)="temp(egg)">
              <p class = "text-center">{{egg}}</p>
            </button>
          </div>
        </div>
        <div class="form-group row" *ngIf="allowEdit && member.points !==0">
          <div class="pt-3 col-sm-12 mx-auto">
            <p class="mx-auto removeEggButton col-8" >Click once to select egg you want to remove. Click it again to remove it.</p>
          </div>
        </div>
        <div *ngIf="member.points === 0">
          <p class="text-center">
            Member has not attended any eggs
          </p>
        </div>
        <h4 class="pt-3 justify-content-center">Points Earned</h4>
        <div class="justify-content-center row">
          <h1 class="col text-center" style="color: #f2b111;">{{member.points}}</h1>
        </div>
      </form>
    </div>
  </div>
</div>
