
/*------general ------*/
body,html {
  height: 100%;
  color: white;
  background: none;
}

/*----font----*/
.medFont{
  font-family: 'Montserrat', sans-serif;
}

/*---loader---*/

.loader {
    border: 16px solid rgba(10,44,133,0.7); /* Light grey */
    border-top: 16px solid #f2b111; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin .5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*-----To center the loader----*/
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}


/*header*/

.headerStyle {
  background-color: #0a2c85;
  }
.medGray{
  background-color: #47484b;
}

/*----------------------Buttons-----------------------------*/

.medButton {
  background-color: #47484b;
  color: white;
  border-style: solid;
  border-color: #47484b;
}
.medButton:hover {
  background-color: #f2b111;
  color: #47484b;
}
.medButton:focus {
  background-color: #5a5c61;

}

.medButton.homeButton {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.medButton.lastButton{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left:none;
}
.medButton.navButton{
  border-right: none;
  border-left: none;
  border-radius: 0;
}
.icon-bar{
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

.background {
    background:url('./images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: block;
    position: relative;
    z-index: -2;
}
.background::after{
  content: "";
  background: rgba(71,72,75, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 100px;
  z-index: -1;
}
