<!-- Modal -->
<div class="modal fade restOfSite" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Member</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this member?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click) = "delete()"class="btn btn-danger" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- HEADER -->
<div class="container-fluid m-0 p-0 restOfSite">
  <div class="row m-0 p-0">
    <div class="col m-0 lightHeader">
      <h1>MEMBERS</h1>
    </div>
  </div>
</div>

<div class="container restOfSite">
  <div class="row m-0 p-0">
    <div class="col m-0 p-0">
      <!-- Bootstrap Modal -->
			<input style = "margin-bottom: 2vh;" [(ngModel)]="searchText" placeholder="Search by First Name, Last Name or Email" class = "form-control">
      <div class = "table-responsive">
  			<table class="table table-striped">
  			  <thead style = "background-color: rgb(101, 101, 101); color: rgb(233,233,233);">
  			    <tr>
  						<th class = "filterByButton" scope="col" (click) = "filterByRole()"><i style = "color : rgb(242, 177, 17);"class="fas fa-crown"></i></th>
  			      <th class = "filterByButton" scope="col" (click) = "filterByfirstName()">First</th>
  			      <th class = "filterByButton" scope="col" (click) = "filterBylastName()">Last</th>
  						<th class = "filterByButton" scope="col" (click) = "filterByEmail()">Email</th>
  			      <th class = "filterByButton" scope="col" (click) = "filterByPoints()">Points</th>
              <th scope="col"></th>
              <th scope="col"></th>
  			    </tr>
  			  </thead>
          <tbody *ngIf = "filterBy === 'role'">
            <!-- order by role -->
  			    <tr *ngFor = "let member of members | orderby: 'role' | filter : searchText" >
  						<td *ngIf = "member.role === 'Admin'"><i style = "color : rgb(242, 177, 17);"class="fas fa-crown"></i></td>
  						<td *ngIf = "member.role !== 'Admin'"></td>
  						<td>{{member.firstName}}</td>
  			      <td>{{member.lastName}}</td>
  			      <td>{{member.username}}</td>
  			      <td>{{member.points}}</td>
              <td><button class = "editButton" [routerLink]="['/authentication/members', member._id, 'edit']"><i style = "color: rgb(233,233,233);" class="fas fa-pen"></i></button></td>
              <td><button *ngIf = "member._id !== user._id" class = "deleteButton" data-toggle="modal" data-target="#exampleModal" (click)="deleteModal(member)"><i style = "color: rgb(233,233,233);" class="fas fa-trash-alt"></i></button></td>
  			    </tr>
          </tbody>
  			  <tbody *ngIf = "filterBy === 'firstName'">
            <!-- order by first name -->
  			    <tr *ngFor = "let member of members | orderby: 'firstName' | filter : searchText" >
  						<td *ngIf = "member.role === 'Admin'"><i style = "color : rgb(242, 177, 17);"class="fas fa-crown"></i></td>
  						<td *ngIf = "member.role !== 'Admin'"></td>
  						<td>{{member.firstName}}</td>
  			      <td>{{member.lastName}}</td>
  			      <td>{{member.username}}</td>
  			      <td>{{member.points}}</td>
                <td><button class = "editButton" [routerLink]="['/authentication/members', member._id, 'edit']"><i style = "color: rgb(233,233,233);" class="fas fa-pen"></i></button></td>
              <td><button *ngIf = "member._id !== user._id" class = "deleteButton" data-toggle="modal" data-target="#exampleModal" (click)="deleteModal(member)"><i style = "color: rgb(233,233,233);" class="fas fa-trash-alt"></i></button></td>
  			    </tr>
          </tbody>
          <tbody *ngIf = "filterBy === 'lastName'">
            <!-- order by last name -->
            <tr *ngFor = "let member of members | orderby: 'lastName' | filter : searchText" >
  						<td *ngIf = "member.role === 'Admin'"><i style = "color : rgb(242, 177, 17);"class="fas fa-crown"></i></td>
  						<td *ngIf = "member.role !== 'Admin'"></td>
  						<td>{{member.firstName}}</td>
  			      <td>{{member.lastName}}</td>
  			      <td>{{member.username}}</td>
  			      <td>{{member.points}}</td>
                <td><button class = "editButton" [routerLink]="['/authentication/members', member._id, 'edit']"><i style = "color: rgb(233,233,233);" class="fas fa-pen"></i></button></td>
              <td><button *ngIf = "member._id !== user._id" class = "deleteButton" data-toggle="modal" data-target="#exampleModal" (click)="deleteModal(member)"><i style = "color: rgb(233,233,233);" class="fas fa-trash-alt"></i></button></td>
  			    </tr>
          </tbody>
          <tbody *ngIf = "filterBy === 'email'">
            <!-- order by email name -->
            <tr *ngFor = "let member of members | orderby: 'username' | filter : searchText" >
  						<td *ngIf = "member.role === 'Admin'"><i style = "color : rgb(242, 177, 17);"class="fas fa-crown"></i></td>
  						<td *ngIf = "member.role !== 'Admin'"></td>
  						<td>{{member.firstName}}</td>
  			      <td>{{member.lastName}}</td>
  			      <td>{{member.username}}</td>
  			      <td>{{member.points}}</td>
                <td><button class = "editButton" [routerLink]="['/authentication/members', member._id, 'edit']"><i style = "color: rgb(233,233,233);" class="fas fa-pen"></i></button></td>
              <td><button *ngIf = "member._id !== user._id" class = "deleteButton" data-toggle="modal" data-target="#exampleModal" (click)="deleteModal(member)"><i style = "color: rgb(233,233,233);" class="fas fa-trash-alt"></i></button></td>
  			    </tr>
          </tbody>
          <tbody *ngIf = "filterBy === 'points'">
            <!-- order by point Value -->
            <tr *ngFor = "let member of members | orderByNumber: 'points' | filter : searchText" >
  						<td *ngIf = "member.role === 'Admin'"><i style = "color : rgb(242, 177, 17);"class="fas fa-crown"></i></td>
  						<td *ngIf = "member.role !== 'Admin'"></td>
  						<td>{{member.firstName}}</td>
  			      <td>{{member.lastName}}</td>
  			      <td>{{member.username}}</td>
  			      <td>{{member.points}}</td>
              <td><button class = "editButton" [routerLink]="['/authentication/members', member._id, 'edit']"><i style = "color: rgb(233,233,233);" class="fas fa-pen"></i></button></td>
              <td><button *ngIf = "member._id !== user._id" class = "deleteButton" data-toggle="modal" data-target="#exampleModal" (click)="deleteModal(member)"><i style = "color: rgb(233,233,233);" class="fas fa-trash-alt"></i></button></td>
  			    </tr>
  			  </tbody>
  			</table>
      </div>
		</div>
	</div>
</div>
