<!-- HEADER -->
<div class="container-fluid m-0 p-0 restOfSite">
  <div class="row m-0 p-0">
    <div class="col m-0 lightHeader">
      <h1>RESET PASSWORD</h1>
    </div>
  </div>
</div>

<div class = "container-fluid p-0 m-0 restOfSite">
  <div class = "row p-0 m-0">
    <div class = "col p-0 m-0">
      <form class = "signInForm" (ngSubmit)="resetPassword()">
        <h4 style = "text-align: center; margin-bottom: 20px;">Enter a new password</h4>
        <div class="form-group justify-content-center row m-0 p-0">
          <div class="col-10 m-0 p-0" *ngIf="!(this.showPassword)">
            <input class = "form-control" type="password" [(ngModel)]="user.password" name="password" placeholder="Password">
          </div>
          <div class = "col-2 m-0 p-0" style = "text-align:center;" *ngIf="!(this.showPassword)">
            <a style = "color:rgb(28,28,28);" (click)="showPassword = true">SHOW</a>
          </div>
          <div class="col-10 m-0 p-0" *ngIf="(this.showPassword)">
            <input  class = "form-control"type="text" [(ngModel)]="user.password" name="password" placeholder="Password">
          </div>
          <div class = "col-2 m-0 p-0" style = "text-align:center;" *ngIf="(this.showPassword)">
          <a style = "color:rgb(28,28,28);" (click)="showPassword = false">HIDE</a>
          </div>
        </div>
        <div class="form-group row m-0 p-0">
          <div class="col m-0" style = "text-align:center; padding-top:5vh;">
            <button type="submit" class="memberButton m-0">SUBMIT</button>
          </div>
        </div>
        <div class="form-group row p-0" style = "margin-top:3vh; height: 40px; margin-bottom: 3vh;">
          <div id = "successMessage" class = "col">
            Password successfully reset! Taking you to sign in page...
          </div>
        </div>
        <div class="form-group row p-0" style = "margin-top:3vh; height: 40px; margin-bottom: 3vh;">
          <div id = "errorMessage" class = "col">
            {{errorMessage}}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
