<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center medSignin">
      <form (ngSubmit)="resetPassword()">
        <div>
          <label>Password:</label>
          <div *ngIf="!(this.showPassword)">
            <input type="password" [(ngModel)]="user.password" name="password">
            <button (click)="this.showPassword = true">Show</button>
          </div>
          <div *ngIf="(this.showPassword)">
            <input type="text" [(ngModel)]="user.password" name="password">
            <button (click)="this.showPassword = false">Hide</button>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4 mx-auto">
            <button type="submit" class="medButton">Submit</button>
          </div>
        </div>
        <div class="form-group row">
          <span>{{errorMessage}}</span>
        </div>
      </form>
    </div>
  </div>
</div>
